.a{
    width: 200px;
    height: 200px;
    border: solid 2px;
    background-color: gold;
    position: absolute;
    top: 40px;
    left: 200px;;
}
.a:hover{
    transition: all 4s;
    transform: rotateY(360deg);
}
.abc{
    perspective: 100px;
    
}