<button (click)="activeClass()">Activer Class</button>

<button (click)="mode='quiz'">Quiz</button>
<button (click)="mode='review'">Review</button>
<button (click)="mode='submit'">Submit</button>

<div [ngClass]="{'quiz':cls}" *ngIf="mode=='quiz'">
    <h1>{{data.name}}</h1>
    <p>{{data.description}}</p>
    <div *ngFor="let q of quiz.questions; index as i">
        <div *ngIf="page==i">
    <app-question [question]="q"  ></app-question>
    </div>
    </div>
    <div style="text-align: center;">
    <button [hidden]="page==0" (click)="goTo(page-1)">Prev</button>
    <button [hidden]="page==data.questions.length-1" (click)="goTo(page+1)">Next</button>
    </div>
</div>
<div *ngIf="mode=='review'">
    <div *ngFor="let q of quiz.questions; index as i" (click)="goTo(i)">
      
        <app-question [modeq]="mode" [question]="q"  ></app-question>
    </div>
</div>
<div *ngIf="mode=='submit'">
    <div>
        <h3>Score: {{score()}}</h3>
    </div>
        <div *ngFor="let q of quiz.questions; index as i">
            <app-question [modeq]="mode" [question]="q"  ></app-question>
        </div>
    
</div>
