<div>
    <ul>
        <li> allowBack
            <input type="checkbox"  [(ngModel)]="data.allowBack" />
        </li>

        <li> allowReview 
            <input type="checkbox"  [(ngModel)]="data.allowReview" />
        </li>
        <li> autoMove 
            <input type="checkbox"  [(ngModel)]="data.autoMove" />
        </li>
        <li> requiredAll
            <input type="checkbox"  [(ngModel)]="data.requiredAll" />
        </li>
        <li> Duration
            <input type="number"  [(ngModel)]="data.duration" />
        </li>
        <li> showClock
            <input type="checkbox"  [(ngModel)]="data.showClock" />
        </li>
    </ul>
</div>
